# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless
.serverless
.serverless-wsgi
/serverless_wsgi.py
/wsgi_handler.py

__pycache__
node_modules
instance.cfg
script/initialize_project.sh
.mypy_cache

.idea/

# Ignore bento tool run paths (this line added by `bento init`)
.bento/
