[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
psycopg2 = "*"
marshmallow-enum = "*"
Flask = "*"
Flask-Cors = "*"
Flask-SQLAlchemy = "*"
SQLAlchemy = "*"
Werkzeug = "*"
Flask-Migrate = ">=2.3.1"
Flask-Script = "*"
marshmallow = ">=3.0.0"
flask-rest-api = "*"
apispec = "*"
marshmallow-sqlalchemy = "*"
aws-xray-sdk = "*"
flask-jwt-extended = "*"
requests = "*"
Faker = "*"
factory_boy = "*"
nplusone = "*"
JetKit-Flask = "==7.0.1"
# JetKit-Flask = {editable = true,path = "./../backend-core"}
# JetKit-Flask = {git = "https://github.com/jetbridge/jetkit-flask.git#v6.1.0-pre1"}

[dev-packages]
pytest-factoryboy = "*"
"flake8" = "*"
pytest = "*"
mypy = "*"
importmagic = "*"
epc = "*"
pytest-xdist = "*"
watchdog = "*"
pytest-flask-sqlalchemy = "*"
pytest-postgresql = ">=2.1.0"
pudb = "*"
ipdb = "*"
mypy_extensions = ">=0.4.1"
Faker = "*"
autoflake = "*"
"python-language-server[all]" = "*"
black = "*"
pre-commit = "*"
pyls-isort = "*"
pyls-mypy = "*"
pyls-black = "*"
python-language-server = {extras = ["all"],version = "*"}
moto = "*"
rope = "*"
sqlalchemy-stubs = "*"
flask-shell-ipython = "*"
cfn-lint = "*"
pytest-mypy = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"
bento-cli = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
